.cloud{
    background-image:url('./imgi_1_skye.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 300px;
    border-top: 0px;
    position: relative;
}
.stlight{
    position: absolute;
    width: 140px;
    right: 550px;
    top: 150px;
}
.stlight2{
    position: absolute;
    width: 140px;
    right: 1250px;
    top: 150px;
}
.house{
    width: 100%;
}
.birds{
    width: 10%;
    position: absolute;
    left: 100px;
    bottom: 30px;
}

.brid{
    width: 10%;
    position: absolute;
    right: 1000px;
}
/* .sun{
    position: absolute;
    width: 10%;
    right: 500px;
    mix-blend-mode: ov; */
.road{
    width: 100%;
    height: 300px;
    margin-top: 52px;
    
}
.titi{
    position: relative;
}
.man{
    z-index: 100px;
    width: 150px;
    top: 50px;
    position: absolute;
    right: 200px;
     animation: man 5.5s linear  infinite forwards ;
}
.bike{
    position: absolute;
    right: 30px;
    top: 120px;
    animation: bike 3.5s linear infinite forwards ;
}
@keyframes bike{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(-1800px,0);
    }
}
.truck1{
    position: absolute;
    top: 860px;
    right: 1800px;
     animation: truck1 5.5s linear infinite forwards;
}
@keyframes truck1{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(1800px,0);
    }
}
.bic{
    position: absolute;
    width: 100px;
    bottom: 1px;
    right: 1700px;
    animation: bicycle  6s linear  infinite forwards ;
}
.truck2{
    position: absolute;
    bottom: 130px;
    right: 1px;
    animation: truck2 5.5s linear infinite forwards;
}
@keyframes truck2 {
from{
    transform: translate(0,0);
}    
to{
    transform: translate(-1800px,0);
}}


@keyframes bicycle {
from{
    transform: translate(0,0);
}    
to{
    transform: translate(1800px,0);
}}

.woman{
    width: 150px;
    position: absolute;
    right: 1700px;
    animation: woman  9s linear  infinite forwards ;
}
@keyframes woman {
from{
    transform: translate(0,0);
}    
to{
    transform: translate(1500px,0);
}
}
@keyframes man {
    from{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-1300px,0);
    }
}
.air{
    position: absolute;
    width: 120px;
    right: 100px;
    top: 50px;
    animation: air 15s linear 2s infinite normal;
}
@keyframes air{
    from{
            transform: translate(0,0);
    }
    to{
        transform: translate(-1400px,-40px);
    }
}
.taxi{
    position: absolute;
    top: 150px;
    right: 1px;
    width: 250px;
    animation: taxi 8s linear  infinite normal;
}
@keyframes taxi {
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(-1800px,0);
    }
}
.heli{
    position: absolute;
    width: 240px;
    right: 40px;
    animation: heli 3s linear 1s infinite normal ;
}
@keyframes heli{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(-1800px,0);
    }
}
.light{
    position: absolute;
    width: 170px;
    right: 200px;
    top: 150px;
}
.light2{
    position: absolute;
    width: 170px;
    right: 1400px;
    top: 150px;
}
/* .superman{
    position: absolute;
    width: 200px;
    right: 500px;
    height: 150px;
} */
.car{
    position: absolute;
    width: 190px;
    right: 1700px;
    bottom: 60px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: car 1.5s linear 1s infinite normal ;
}
@keyframes car{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(1800px,0px);
    }
   
}
.road2{
    width: 100%;
    height: 300px;
    margin-top: 52px;
    position: relative;
}
.way{
    background-color: 
RGB(49, 48, 48);
    height: 90px;
    margin-top: -5px;
}
*{
    margin: 0;
    padding: 0px;
}